<!DOCTYPE html>
<html ng-app="mobile-app">

<head>
    <title>Angular-Frontend</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link href="http://karanverma.me/js/custom.css" rel="stylesheet">
    <!-- <link href="https://karanverma.me/js/custom.css" rel="stylesheet"> -->
</head>

<body>
    <div ng-controller="phoneAppController as phoneApp" class= "container">

        <!-- Sliders -->
        <div layout>
            <div flex="10" layout layout-align="center center">
                <span class="md-body-1">Ram</span>
            </div>
            <md-slider flex md-discrete ng-init ="phoneApp.rating1=0" ng-model="phoneApp.rating1" step="1" min="0" max="10" aria-label="rating">
            </md-slider>
        </div>
        
        <div layout>
            <div flex="10" layout layout-align="center center">
                <span class="md-body-1">Camera</span>
            </div>
            <md-slider flex md-discrete ng-init ="phoneApp.rating2=0" ng-model="phoneApp.rating2" step="1" min="0" max="10" aria-label="rating">
            </md-slider>
        
        </div>
        
        <div layout>
            <div flex="10" layout layout-align="center center">
                <span class="md-body-1">Storage</span>
            </div>
            <md-slider flex md-discrete ng-init ="phoneApp.rating3=0"ng-model="phoneApp.rating3" step="1" min="0" max="10" aria-label="rating">
            </md-slider>
        </div>
        
        <div layout>
            <div flex="10" layout layout-align="center center">
                <span class="md-body-1">Battery</span>
            </div>
            <md-slider flex md-discrete ng-init ="phoneApp.rating4=0" ng-model="phoneApp.rating4" step="1" min="0" max="10" aria-label="rating">
            </md-slider>
            <!-- inside the div => <span ng-if= "(phoneApp.rating2+phoneApp.rating1+phoneApp.rating3+phoneApp.rating4) < 28" >wow!!!!</span> -->
        </div>

        <!-- <button ng-click ="phoneApp.dummy()">dummy button</button>  -->
        
        <span ng-if= "(phoneApp.rating2+phoneApp.rating1+phoneApp.rating3+phoneApp.rating4) < 28&&(phoneApp.rating2+phoneApp.rating1+phoneApp.rating3+phoneApp.rating4) > 0" >    
        <md-button class="md-raised" ng-click = "phoneApp.ranker(phoneApp.rating1, phoneApp.rating2, phoneApp.rating3, phoneApp.rating4)">Find Me Device</md-button>
        </span>
        
        <span ng-if= "(phoneApp.rating2+phoneApp.rating1+phoneApp.rating3+phoneApp.rating4) == 0" >
        <md-button class="md-raised" ng-disabled="true" ng-click = "phoneApp.ranker(phoneApp.rating1, phoneApp.rating2, phoneApp.rating3, phoneApp.rating4)">Find Me Device</md-button> 
        "All Slider Value can't be zero"
        </span>

        <span ng-if= "(phoneApp.rating2+phoneApp.rating1+phoneApp.rating3+phoneApp.rating4) > 28" >
        <md-button class="md-raised" ng-disabled="true" ng-click = "phoneApp.ranker(phoneApp.rating1, phoneApp.rating2, phoneApp.rating3, phoneApp.rating4)">Find Me Device</md-button> 
        "Sum Of All Slider Value Can't be more than 28"
        </span>
         <!-- <md-button class="md-raised" ng-click = phoneApp.search(rating2,rating1,rating3,rating4)>Find Me Device</md-button> -->
        <!-- Mobile device -->
        <div class="list-group-item" ng-repeat="mobil in phoneApp.result">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline"><a href="{{mobil.url}}" target="_blank">{{mobil.name}}</a></span>
                        <span class="md-subhead">Ram: {{mobil.ram}}</span>
                        <span class="md-subhead">Storage: {{mobil.storage}}</span>
                        <span class="md-subhead">Battery: {{mobil.battery}}</span>
                        <span class="md-subhead">Camera: {{mobil.camera}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"><img src={{mobil.img}}></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <!-- <md-button onclick ="location.href"={{mobil.url}}>Go to website</md-button>
           -->
                </md-card-actions>
            </md-card>
        </div>
    </div>
</body>
<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
<script type="text/javascript" src="http://karanverma.me/js/app.js"></script>

</html>
