.container{
    position: absolute;
    float: none;
    margin: 0 10%;
    width: 80%;
}
md-card>:not(md-card-content) img, md-card>img{
	width: initial;
}
md-card{
	border: solid 1px;
    border-color: transparent;
    -webkit-transition: -webkit-box-shadow,top .2s; /* Safari */
    transition: box-shadow,top .2s;
    transition-timing-function: ease;
}
md-card:hover{
	-webkit-box-shadow: -2px 13px 12px -6px rgba(0,0,0,0.15);
-moz-box-shadow: -2px 13px 12px -6px rgba(0,0,0,0.15);
box-shadow: -2px 13px 12px -6px rgba(0,0,0,0.15);
    border: solid 1px;
    top:-4px;
    border-color: rgba(211, 211, 211, 0.54); 
/*-webkit-box-shadow: -2px 13px 33px 2px rgba(0,0,0,0.3);
-moz-box-shadow: -2px 13px 33px 2px rgba(0,0,0,0.3);
box-shadow: -2px 13px 33px 2px rgba(0,0,0,0.3);*/
}
.list-group-item{
	    background-color: #F8F8F7;
	    background: 0px
}
